{% extends 'template.html.twig' %}

{% block PageTitle %}
    Ajouter admin
{% endblock %}
{% block body %}
<div class="container">
    <div class="form-group">
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

