{% extends 'template.html.twig' %}


{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Add-Edit Admin</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Add-Edit Admin</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-8">
            <div class="col-lg-8 table-responsive mb-5">
    <div class="form-group">
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
</div>
    </div></div>

{% endblock %}

