{% extends 'template.html.twig' %}

{% block title %}{{ editor.firstname}}{% endblock %}

{% block body %}

<div class="alert/alert-success">
    {{ editor.firstname }} email : {{ editor.email }}
</div>
{% endblock %}
