{% extends 'template.html.twig' %}

{% block title %}{{ editors.firstname}}{% endblock %}

{% block body %}

<div class="alert/alert-success">
    {{ editors.firstname }} email : {{ editors.email }}
    {% if app.user%}
    <p> Created By : {{ app.user.email }}</p>
    {% endif %}
</div>
{% endblock %}
