{% extends 'template.html.twig' %}

{% block PageTitle %}Payment Fail!{% endblock %}

{% block body %}
    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your business!
        but your payment failed :(
        <a href="mailto:orders@Shop.com">failures@Shop.com</a>.
    </p>

    <div>

    </div>
{% endblock %}
