{% extends 'template.html.twig' %}

{% block PageTitle %}Make Payment{% endblock %}

{% block body %}

    <form action="/checkout" method="POST">
        <button type="submit" class="btn-primary btn btn-lg">Checkout</button>
    </form>
    <div>

    </div>
{% endblock %}
