{% extends 'template.html.twig' %}

{% block PageTitle %}Payment Success!{% endblock %}

{% block body %}
    <h1>Thanks for your order!</h1>
    <p>
        We would appreciate your business!
        If you have any questions,please email
        <a href="mailto:orders@example.com">order@Shop.com</a>.
    </p>
    <div>

    </div>
{% endblock %}
