{% extends 'template.html.twig' %}

{% block PageTitle %}Payment Success!{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Success</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Thanks for your order!</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
    <!-- Page Header End -->

            <p>
                We would appreciate your business!
                If you have any questions,please email
                <a href="mailto:orders@example.com">order@Shop.com</a>.
            </p>
        <div>
    </div>
        </div></div>
{% endblock %}
